body {
	cursor: default;
	font-family: 'Nanum Gothic', serif;
	background-color: #1F2222;
	margin-top: 35rem;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	color: white;
}

.Copyright-Sign{
	font-weight: 700;
	font-size: 11pt;
}

.Copyright-Email{
	font-weight: 700;
	font-size: 8pt;
	line-height: 0%;
}