.Center-text{
	font-weight: 700;
	color: #F1F1F1;
	font-size: 25px;
	background-color: rgba( 0, 0, 0, 0.5 );
	padding: 16px 32px;
}
.Center-Button{
	-webkit-transition-duration: 0.5s; /* 사파리 브라우저 */
    transition-duration: 0.5s; /* 나머지 브라우저 */
    border-radius: 6px;
    padding: 15px 32px; 
	background-color: rgba( 0, 0, 0, 0.75 );
	color: #FF4000;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
	border: 3px solid #FF4000;
}
.Center-Button:hover{
	background-color: #FF4000;
	color: white;
}

body {
	cursor: default;
	font-family: 'Nanum Gothic', serif;
	background-image: url("../images/Center_image_2.jpg");
	background-repeat: no-repeat;
    background-position: 10% 2%;
    background-attachment: fixed;
    background-size: 1440px 810px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

